body{
  background:linear-gradient(rgba(73, 11, 159, 0.5),transparent);
  background-color:rgb(58, 144, 197) /*this your primary color*/
}
.grey-background {
  
  padding: 20px; /* Optional: Add padding for spacing */
  height: 100%;

}